<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="346IMzZQsICM_HAa7RPWEi2eFcJIOll2CUX3ePXLUSk" />
    <script type="text/javascript" src="../../javascripts/login.js"></script>
    <script type="text/javascript" src="../../javascripts/registration.js"></script>
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../../stylesheets/main.css" rel="stylesheet">
    <!-- Вставка HTML5 поєднується з Respond.js для підтримки в IE8 елементів HTML5 та медіа-запитів -->
    <!-- ЗАСТЕРЕЖЕННЯ: файл Respond.js не працює, якщо ви проглядаєте сторінку відкривши її з файлової системи -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>