<!DOCTYPE html>
<html lang="ua" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include ../parts/head.ejs %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2LiQWpmIf04N0k1eCOx7tOSrJ32zViSQ
    &sensor=false">
    </script>
    <script type="text/javascript" src="../../javascripts/map.js"></script>
    <!--<script type="text/javascript" src="javascripts/capcha.js"></script>-->
    <!--<script src="https://www.google.com/recaptcha/api.js"></script>-->
</head>
<body onload="initialize()">
    <div class="container">
        <!-- Start header -->
        <%- include ../parts/header.ejs %>
        <!-- End header -->
        <section>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div id="page_container">
                <div id="contacttxt">
                    <span class="nameinfo"><%= contactsTxt %></span><br>
                    <span><%= contactsTxt1 %></span></br>
                    <span><%= contactsTxt2 %></span><br>
                    <span><%= contactsTxt3 %></span><br>
                    <span><%= contactsTxt4 %></span><br>
                    <p>E-mail:</p><br>
                    <span class="writeus"><%= contactsTxt5 %></span>
                    <form id="contactus" action="/yourmessage" method="POST" >
                        <input type="text" name="fName" value="" placeholder="<%= name %>"><br><br>
                        <input type="text" name="lName" value="" placeholder="<%= lastName %>"><br><br>
                        <input type="tel" name="phoneNumber" value="" placeholder="<%= telephone %>" ><br><br>
                        <input type="email" name="eMail" value="" placeholder="<%= eMail %>"><br><br>
                        <textarea id="sendMessage" rows="15" cols="27" name="message"
                            placeholder="<%= message %>" autocomplete="off" required></textarea><br><br>
                        <!--<div class="g-recaptcha" data-sitekey="6LckUyMTAAAAADc49obGkJLilltlUI1SZQGfC2Jo"></div><br>-->
                        <input type="submit" value="<%= send %>" id="send">
                    </form>
                </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div id="map">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>
        </section>
        <%- include ../parts/footer.ejs %>
    </div>
</body>
</html>