<!DOCTYPE html>
<html lang="ua">
<%- include ../parts/head.ejs %>
<body>
<div class="container">
    <!-- Start header -->
    <%- include ../parts/header.ejs %>
    <!-- End header -->
    <section>
        <div class="row">
            <!-- Start article -->
            <article>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                    <div id="openModal2" class="modalDialog"><div>
                        <a href="/" title="Закрити" class="close">X</a>
                        <h3 class="lang" key="type-text">Відновлення паролю</h3>
                        <form action="/newPassword" method="POST" id="newPass" autocomplete="on">
                    <%- text_1 %>
                            </form>
                    </div>
                    </div>


                </div>
            </article>
            <!-- End article -->
            <!-- Start right side block -->
            <%- include ../parts/right_side.ejs %>
            <!-- End right side block -->
        </div>

    </section>
    <%- include ../parts/footer.ejs %>
</div>
</body>
</html>